
<table class="table table-hover">
    <tr>
        <td>Login</td>
         <td>Name</td>
         <td>Familia</td>
         <td>Otchestvo</td>
         <td>Location</td>
       </tr>
  <tr *ngFor="let pd of service.list">
    <td (click)="populateForm(pd)">{{pd.Login}}</td> 
    <td (click)="populateForm(pd)">{{pd.name}} </td>
    <td (click)="populateForm(pd)">{{pd.fam}} </td>
    <td (click)="populateForm(pd)">{{pd.otc}} </td>
    <td (click)="populateForm(pd)">{{pd.address}}</td>
    <td>
      <i class="far fa-trash-alt fa-lg text-danger" (click)="onDelete(pd.UserId)"></i>
    </td>
  </tr>
</table>
