
 <div class="center">
  <h2><b><a class='navbar-brand; format' [routerLink]='["/"]'>
  Online-Auction</a></b></h2>
 </div>
 
<div class="center">
  <div class="btn-group btn-group-justified" role="group">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-info"><a [routerLink]='["/"]'>Auction</a></button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-info"><a [routerLink]='["/rating"]'>Rating</a></button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-info"><a [routerLink]='["/sign-in"]'>Sign In</a></button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-info"><a [routerLink]='["/info"]'>Information</a></button>
    </div>
  </div>
</div>
  
