<!-- <table>
  <tr>
    <td>
        <div>
            <div >
                <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text bg-green">
                     
                  </div>
                </div>
                <input class="form-control" name="Login"  placeholder="Login" required  minlength="5" maxlength="15">
              </div>
            </div>     
        </div>
    </td>
    <td>
        <div >
            <div class="input-group">
            <div class="input-group-prepend">
              <div class="input-group-text bg-green">
                 
              </div>
            </div>
            <input name="password"placeholder="Password" required maxlength="5" minlength="5">
          </div>
          </div>
    </td>
    <td>
        <div>
            <button class="btn btn-info"><i class="fas fa-user-tag">User:</i><b class="own">{{item.LotOwner}}</b></button>
        </div>
    </td>
  </tr>
</table>
 -->
